# Dependencies
node_modules/

# Local Firebase config (DO NOT COMMIT REAL SECRETS)
/config/firebase.local.json

# Env files
.env
.env.*

# Editor/OS
.DS_Store
*.log

# Build outputs
/dist/
/build/
/out/
